// Place all the styles related to the encontros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form{
  padding: 20px;
  margen-top: 5px;
  line-height: 30px;
}

p{
  padding-left: 20px;
}

.jumbotron{
  background-color:#FFFFFF;
}
